.searchBar {
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.searchBar > span {
  height: 50px;
  min-width: 280px;
  line-height: 50px;
  .searchIcon {
    width: 18px;
  }
}

.centerBox {
  text-align: center;
  color: #747474;
  .centerLink {
    color: #949494;
  }
  .centerLink:hover {
    color: #5794c9;
  }
  .centerLink:not(:last-child)::after {
    content: " • ";
  }
}

.searchBar > span input {
  color: #757171;
  height: 40px;
  line-height: 40px;
  border: none;
  /* background-color: #eef6fd; */
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.searcherBox i {
  cursor: pointer;
}
.searchBar > span:last-child {
  text-align: right;
}

.searchBar > span input::placeholder {
  color: #cdcccc;
  font-weight: lighter;
}
.searchBar > span input:focus {
  outline: none;
}
.link {
  color: #1a8dbe;
}
.curLink {
  color: #57994e;
}
